@page "/Ticketdetails"
@page "/Ticketdetails/{id:int}"

@inject NavigationManager navigation
@inject IservicesTicket servicesticket
@inject IServicesSucursales servicessucursales


<h3></h3>


@if (ticket == null)
{
   <div class="d-flex align-items-center">
  <strong>Cargando...</strong>
  <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
    </div>
}else
{
    
    <EditForm Model="ticket" OnValidSubmit="Guardar">

        <div class="card"> 
          <h5 class="card-header">Formulario de Ticket</h5>
          <div class="card-body">
              <div class="container">
                  
                  <div class="row">
                      <div class="col-md-4 mb-3">
                              <MudTextField @bind-Value="ticket.Usuario" Label="Usuario que Reporta" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>                        
                      </div>
                      <div class="col-md-3 mb-3">
                              <MudTextField @bind-Value="ticket.Telefono" Label="Telefono de Contacto"  Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                      </div>
                      <div class="col-md-3 mb-3">
                               <MudSelect @bind-Value="@ticket.Sucursal" Label="Sucursal" Variant="Variant.Outlined" Margin="Margin.Dense">
                                   @foreach ( var suc in sucursales)
                                     {
                                        <MudSelectItem Value="@suc.Sucursal">@suc.Sucursal</MudSelectItem>
                                     }
                              </MudSelect>
                      </div>
                       <div class="col-md-2 mb-3">
                              <MudDatePicker Label="Fecha" Date="ticket.Fecha"></MudDatePicker>
                      </div>
                        <div class="col-md-3 mb-3">
                              <MudTextField @bind-Value="ticket.Estado" placeholder="Sin asignar" Label="Estado" Variant="Variant.Outlined" Margin="Margin.Dense" ReadOnly="true"></MudTextField>
                      </div>

                        <div class="col-md-3 mb-3">
                              <MudTextField @bind-Value="ticket.prioridad" placeholder="Baja" Label="Prioridad" Variant="Variant.Outlined" Margin="Margin.Dense" ReadOnly="true"></MudTextField>
                      </div>

                        <div class="col-md-5 mb-3">
                              <MudTextField @bind-Value="ticket.Asunto" Label="Asunto" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                      </div>
                      <div class="col-md-3 mb-3">
                              <MudTextField @bind-Value="ticket.Ingeniero" placeholder="Sin asignar" Label="Ingeniero" Variant="Variant.Outlined" Margin="Margin.Dense" ReadOnly="true"></MudTextField>
                      </div>

                        <div class="col-md-12 mb-3">
                              <MudTextField @bind-Value="ticket.Mensaje" Label="Mensaje" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="5"></MudTextField>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-mb-4">

                      </div>
                      <div class="col-md-4 mb-3">
                          <input type="submit" class="btn btn-success" value="Guardar"/>
                           <input type="button" class="btn btn-secundary" value="Cancelar" @onclick="Home"/>
                      </div>
                      <div class="col-mb-4">

                      </div>

                  </div>


              </div>
          </div>
        </div>


    </EditForm>

   


}




@code {
    public Ticket ticket;
     IEnumerable<Sucursales> sucursales;
    [Parameter]
    public int id { get; set; }
    

    protected async override Task OnInitializedAsync()
    {
        sucursales = await servicessucursales.getsucursales();
        if (id == 0)
            ticket = new Ticket();
    else
            ticket = await servicesticket.GetDetails(id);

        ticket.Fecha = DateTime.Today;
        ticket.Estado = "Sin Asignar";
        ticket.prioridad = "Baja";

    }

    private async Task Guardar()
    {
        await servicesticket.SaveTicket(ticket);
        Home();
    }

    public async Task Home()
    {
        navigation.NavigateTo("/tablero");
    }



}
