@page "/VistaTicket"
@page "/VistaTicket/{id:int}"

@inject NavigationManager navigation
@inject IservicesTicket servicesticket


<h3></h3>


@if (ticket == null)
{
   <div class="d-flex align-items-center">
  <strong>Cargando...</strong>
  <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
    </div>
}else
{
    
    
 <EditForm Model="ticket">

        <div class="card"> 
          <h5 class="card-header">Vista de Ticket</h5>
          <div class="card-body">
              <div class="container">

                  <div class="row">
                      <div class="col-md-4 mb-3">
                           <MudTextField @bind-Value="ticket.Usuario" Label="Usuario que Reporta" Variant="Variant.Outlined" Margin="Margin.Dense" ReadOnly="true"></MudTextField>
                      </div>
                      <div class="col-md-3 mb-3">
                          <MudTextField @bind-Value="ticket.Telefono" Label="Telefono de Contacto"  Variant="Variant.Outlined" Margin="Margin.Dense" ReadOnly="true"></MudTextField>
                      </div>
                       <div class="col-md-3 ">
                          <MudDatePicker Label="Fecha" Date="ticket.Fecha" ReadOnly="true"></MudDatePicker>
                      </div>
                        <div class="col-md-4 mb-3">
                          <MudTextField @bind-Value="ticket.Estado" placeholder="Sin asignar" Label="Estado" Variant="Variant.Outlined" Margin="Margin.Dense" ReadOnly="true"></MudTextField>
                      </div>

                        <div class="col-md-4 mb-3">
                         <MudTextField @bind-Value="ticket.prioridad" placeholder="Baja" Label="Prioridad" Variant="Variant.Outlined" Margin="Margin.Dense" ReadOnly="true"></MudTextField>
                      </div>

                        <div class="col-md-6 mb-3">
                          <MudTextField @bind-Value="ticket.Asunto" Label="Asunto" Variant="Variant.Outlined" Margin="Margin.Dense" ReadOnly="true"></MudTextField>
                      </div>
                      <div class="col-md-4 mb-3">
                         <MudTextField @bind-Value="ticket.Ingeniero" placeholder="Sin asignar" Label="Ingeniero" Variant="Variant.Outlined" Margin="Margin.Dense" ReadOnly="true"></MudTextField>
                      </div>

                        <div class="col-md-12 mb-3">
                         <MudTextField @bind-Value="ticket.Mensaje" Label="Mensaje" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="5" ReadOnly="true"></MudTextField>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-mb-4 mb-3">

                      </div>
                      <div class="col-md-4 mb-3">
                           <MudButton ButtonType="ButtonType.Button" Color="Color.Info" @onclick="Home">Volver</MudButton>
                      </div>
                      <div class="col-mb-4 mb-3">

                      </div>

                  </div>


              </div>
          </div>
        </div>
       <br/>

        @if (!string.IsNullOrEmpty(ticket.IngenieroMensaje))
           {
               <div class="card" >
                   <h6 class="card-header">Detalles de Solucion</h6>
                   <div class="card-body">
                       <div class="container-fluid">
                           <div class="row">
                               <table class="table">
                                     <thead>
                                        <tr>
                                        <th>Fecha de Solucion</th>
                                        <th>Solucion</th>
                                        </tr>
                                    </thead>
                                        <tbody>
                                        <tr>
                                        <td>@ticket.FechaSolucion.ToShortDateString()</td>
                                        <td>@ticket.IngenieroMensaje</td>
                                        </tr>
                                     </tbody>
                             </table>
                           </div>
                       </div>
                   </div>
               </div>
               
           }
           


    </EditForm>

    

   
    
    
    


}




@code {
    public Ticket ticket;
    [Parameter]
    public int id { get; set; }

    protected async override Task OnInitializedAsync()
    {
 
            ticket = await servicesticket.GetDetails(id);

    }


    public async Task Home()
    {
        navigation.NavigateTo("/tablero");
    }



}
