@page "/VistaTicket"
@page "/VistaTicket/{id:int}"

@inject NavigationManager navigation
@inject IservicesTicket servicesticket


<h3></h3>


@if (ticket == null)
{
   <div class="d-flex align-items-center">
  <strong>Cargando...</strong>
  <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
    </div>
}else
{
    
    
 <EditForm Model="ticket">

        <div class="card"> 
          <h5 class="card-header">Vista de Ticket</h5>
          <div class="card-body">
              <div class="container">

                  <div class="row">
                      <div class="col-md-4 mb-3">
                          <label for="">Usuario que Reporta</Label>
                              <InputText class="form-control" @bind-Value="ticket.Usuario" readonly></InputText>
                      </div>
                      <div class="col-md-3 mb-3">
                          <label for="">Telefono de Contacto</Label>
                              <InputText class="form-control" @bind-Value="ticket.Telefono" readonly></InputText>
                      </div>
                       <div class="col-md-3 ">
                          <label for="">Fecha de Solicitud</Label>
                              <InputDate class="form-control" @bind-Value="ticket.Fecha" readonly></InputDate>
                      </div>
                        <div class="col-md-4 mb-3">
                          <label for="">Estado</Label>
                              <InputText class="form-control" @bind-Value="ticket.Estado" readonly placeholder="Sin Asignar"></InputText>
                      </div>

                        <div class="col-md-4 mb-3">
                          <label for="">Prioridad</Label>
                              <InputText class="form-control" @bind-Value="ticket.prioridad" readonly placeholder="Baja"></InputText>
                      </div>

                        <div class="col-md-6 mb-3">
                          <label for="">Asunto</Label>
                              <InputText class="form-control" @bind-Value="ticket.Asunto" readonly></InputText>
                      </div>
                      <div class="col-md-4 mb-3">
                          <label for="">Asignado A</Label>
                              <InputText class="form-control" @bind-Value="ticket.Ingeniero" readonly placeholder="Sin Asignar"></InputText>
                      </div>

                        <div class="col-md-12 mb-3">
                          <label for="">Mensaje</Label>
                              <InputTextArea class="form-control" @bind-Value="ticket.Mensaje" readonly></InputTextArea>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-mb-4 mb-3">

                      </div>
                      <div class="col-md-4 mb-3">
                           <MudButton ButtonType="ButtonType.Button" Color="Color.Info" @onclick="Home">Volver</MudButton>
                      </div>
                      <div class="col-mb-4 mb-3">

                      </div>

                  </div>


              </div>
          </div>
        </div>
       <br/>

        @if (!string.IsNullOrEmpty(ticket.IngenieroMensaje))
           {
               <div class="card" >
                   <h6 class="card-header">Detalles de Solucion</h6>
                   <div class="card-body">
                       <div class="container-fluid">
                           <div class="row">
                               <table class="table">
                                     <thead>
                                        <tr>
                                        <th>Fecha de Solucion</th>
                                        <th>Solucion</th>
                                        </tr>
                                    </thead>
                                        <tbody>
                                        <tr>
                                        <td>@ticket.FechaSolucion.ToShortDateString()</td>
                                        <td>@ticket.IngenieroMensaje</td>
                                        </tr>
                                     </tbody>
                             </table>
                           </div>
                       </div>
                   </div>
               </div>
               
           }
           


    </EditForm>

    

   
    
    
    


}




@code {
    public Ticket ticket;
    [Parameter]
    public int id { get; set; }

    protected async override Task OnInitializedAsync()
    {
 
            ticket = await servicesticket.GetDetails(id);

    }


    public async Task Home()
    {
        navigation.NavigateTo("/tablero");
    }



}
